/* 
font-family: 'Barlow', sans-serif;
font-family: 'Poppins', sans-serif; */


body{
    background-color: #010A0F;
    color: #FFFFFF;
    position: relative;
}


.header_wrapper{
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
    align-items: center;
    background-color: #0F2D37;
    position: fixed;  
    min-width: 94vw;
    padding: 1vw 3vw;
    top: 0;
    

}

.left-nav a{
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    color: inherit;
   
}
.left-nav a:hover{
    
    color: rgb(92, 92, 49);
}
.left-nav :nth-child(2){
    margin: 0 1rem;
}
.search{
    
}
.search-btn{
    /* color: yellow; */
    /* background-color: #010a0f; */
    margin-left: 1rem;
    border-radius: .2rem;
}

footer{
    color: aliceblue;
    position: fixed;
    bottom: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #0F2D37;
    min-width: 100vw;
    text-align: center;
    height: 2rem;
}
footer a{
    text-decoration: none;
}
.tableWrapper{
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
   
    
}
.mainHead{
    display: inline-block;
    font-size: medium;
    padding: .5rem;
    border-radius: .7rem;

}
.mainHead:hover{
    border: 1px solid gray;
    

   

}
.tableRow :nth-child(1){
    color: red;

}
/* tbody tr td {
    border: 1px solid  grey;
} */
/* https://cdn.wallpapersafari.com/2/85/naozFg.jpg */  




